doctype html

html
  head
    style.
      .table-bordered>tbody>tr>td {
        vertical-align : middle;
      }

    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chat.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/javascripts/sample.js')

  body
    block content
