
#issuerMsgWindow {
    white-space: pre;
    overflow-y: auto;
    overflow-x: none;
    width: 300px;
    height: 350px;
    background-color: #F2DEDE;
}

#receiverMsgWindow {
    white-space: pre;
    overflow-y: auto;
    overflow-x: none;
    width: 300px;
    height: 350px;
    background-color: #D9EDF7;
}

#UserWindowForIssuer {
    white-space: pre;
    overflow-y: auto;
    overflow-x: none;
    width: 200px;
    height: 350px;
    background-color: #F2DEDE;
}

#UserWindowForReceiver {
    white-space: pre;
    overflow-y: auto;
    overflow-x: none;
    width: 200px;
    height: 350px;
    background-color: #D9EDF7;
}

.shadow {
    box-shadow: 2px 2px 4px 1px #000000;
    padding-top: 10px;
    padding-right: 1px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table.table-borderless {
    margin-bottom: 0px;
}
